/* ============================================================
   SCROLLBAR (WebKit)
   ============================================================ */

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
}

::-webkit-scrollbar-thumb {
  background: #b0b0b0;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888888;
  border-radius: 12px;
}
